Repository Hyp-ed/hyped-2023, changes with the owners that CODEOWNERS names for each.
All owners: @mifrandir, @kshxtij, @SnickeyX, @maxguy2001

CODEOWNERS:

* @mifrandir
* @kshxtij
lib/sensors @SnickeyX
test/sensors @SnickeyX
lib/io @SnickeyX
test/io @SnickeyX
lib/navigation @maxguy2001
test/navigation @maxguy2001

unusable sensor checkout outside loop
  lib/sensors/mux.hpp
Owners: @SnickeyX

removed unneccessary imports
  lib/io/hardware_i2c.hpp
Owners: @SnickeyX

Update format specifier
  lib/debug/repl.cpp
Owners: @kshxtij

Fix requested changes
  lib/core/logger.hpp
Owners: @kshxtij

Fix spelling errors
  lib/motors/controller.cpp
Owners: @kshxtij

adding import back
  lib/io/hardware_i2c.hpp
Owners: @SnickeyX

fixing input paramater order
  lib/debug/repl.cpp
  lib/io/adc.cpp
  lib/io/adc.hpp
  lib/io/hardware_i2c.cpp
  lib/io/hardware_i2c.hpp
  lib/sensors/mux.hpp
  test/sensors/mux.cpp
Owners: @kshxtij, @SnickeyX

Controller speling mistake
  lib/motors/controller.cpp
Owners: @kshxtij

clang compliance
  lib/motors/controller.cpp
Owners: @kshxtij

log to logger and fixing order of class members
  lib/debug/repl.cpp
  lib/debug/repl.hpp
  lib/io/adc.cpp
  lib/io/adc.hpp
  lib/io/hardware_i2c.cpp
  lib/io/hardware_i2c.hpp
  lib/sensors/mux.hpp
Owners: @kshxtij, @SnickeyX

added const file and changed return type
  lib/state_machine/consts.hpp
  lib/state_machine/state_machine.cpp
  lib/state_machine/state_machine.hpp
Owners: @kshxtij

formatted
  lib/state_machine/state_machine.hpp
Owners: @kshxtij

space between private methods and class members
  lib/sensors/mux.hpp
Owners: @SnickeyX

changed checkTransition return type
  lib/state_machine/message.hpp
  lib/state_machine/state_machine.cpp
  lib/state_machine/state_machine.hpp
Owners: @kshxtij

for you max xx
  lib/navigation/preprocess_imu.cpp
Owners: @maxguy2001

formatting
  lib/navigation/preprocess_imu.cpp
Owners: @maxguy2001

changed transition structure
  lib/state_machine/state_machine.cpp
  lib/state_machine/state_machine.hpp
  lib/state_machine/transition.cpp
  lib/state_machine/transition.hpp
  lib/state_machine/types.hpp
Owners: @kshxtij

Roll back to priority error processWarningMessage function
  lib/motors/controller.cpp
Owners: @kshxtij

reorder selection statement of processWarningMessage
  lib/motors/controller.cpp
Owners: @kshxtij

Changes made with orders of if statments for optimisation and removal of unnecessary lines of code
  lib/sensors/temperature.cpp
  lib/sensors/temperature.hpp
Owners: @SnickeyX

optional return type
  lib/state_machine/message.hpp
  lib/state_machine/state_machine.cpp
  lib/state_machine/state_machine.hpp
Owners: @kshxtij

got rid of unecessary checks in cpp file.
  lib/navigation/preprocess_keyence.cpp
Owners: @maxguy2001

handing of nominal errors in processWarningMessage
  lib/motors/controller.cpp
Owners: @kshxtij

handing of nominal errors in processWarningMessage
  lib/motors/controller.cpp
Owners: @kshxtij

clang compliance
  lib/motors/controller.cpp
Owners: @kshxtij

made the changes
  lib/navigation/preprocess_encoders.cpp
  lib/navigation/preprocess_encoders.hpp
Owners: @maxguy2001

Completed logging (based on accelerometer file in acceleremoter branch)
  lib/navigation/preprocess_keyence.cpp
Owners: @maxguy2001

logger and tidying
  lib/navigation/preprocess_imu.cpp
  lib/navigation/preprocess_imu.hpp
Owners: @maxguy2001

todolaters and fixing reliable counter
  lib/navigation/preprocess_imu.cpp
Owners: @maxguy2001

build issues
  lib/navigation/preprocess_imu.cpp
Owners: @maxguy2001

fixing mistake in if statement
  lib/navigation/preprocess_imu.cpp
Owners: @maxguy2001

formatting
  lib/navigation/preprocess_imu.cpp
Owners: @maxguy2001

reorder selection statement
  lib/motors/controller.cpp
Owners: @kshxtij

formatting changes
  lib/motors/controller.cpp
Owners: @kshxtij

Change Warning output text mistake
  lib/motors/controller.cpp
Owners: @kshxtij

imu displacement for crosschecker
  lib/navigation/imu_displacement.cpp
  lib/navigation/imu_displacement.hpp
  lib/navigation/navigator.cpp
Owners: @maxguy2001

formatting and pragma once
  lib/navigation/imu_displacement.cpp
  lib/navigation/imu_displacement.hpp
Owners: @maxguy2001

PWM init
  lib/io/hardware_i2c.cpp
  lib/io/pwm.cpp
  lib/io/pwm.hpp
Owners: @SnickeyX

fixed missing std::
  lib/io/pwm.cpp
Owners: @SnickeyX

extra line for clarity
  lib/io/pwm.hpp
Owners: @SnickeyX
