Repository Hyp-ed/hyped-2023, changes with the owners that CODEOWNERS names for each.
All owners: @mifrandir, @kshxtij, @SnickeyX, @maxguy2001

initializing mux_address_
  lib/sensors/mux.cpp
Owners: @SnickeyX

Finalised error messages
  lib/motorcontrollers/controller.cpp
  lib/motorcontrollers/controller.hpp
  lib/motors/controller.cpp
Owners: @kshxtij

Comply with linter
  lib/motors/controller.cpp
  lib/motors/controller.hpp
Owners: @kshxtij

Add std::
  lib/motors/controller.cpp
Owners: @kshxtij

Change navigation keyence data to 32 bits
  lib/navigation/types.hpp
Owners: @maxguy2001

Navigation benchmark data builder
  lib/core/time.cpp
  lib/core/time.hpp
  lib/core/types.hpp
  lib/navigation/benchmark/benchmark.cpp
  lib/navigation/benchmark/benchmark.hpp
  lib/navigation/benchmark/data.cpp
  lib/navigation/benchmark/data.hpp
  lib/navigation/navigator.cpp
  lib/navigation/navigator.hpp
  lib/navigation/preprocess_imu.cpp
  lib/navigation/preprocess_imu.hpp
  lib/navigation/types.hpp
  lib/utils/CMakeLists.txt
  lib/utils/manual_time.cpp
  lib/utils/manual_time.hpp
  lib/utils/naive_navigator.cpp
  lib/utils/naive_navigator.hpp
  test/navigation/benchmark/benchmark.cpp
  test/utils/naive_navigator.cpp
Owners: @kshxtij, @maxguy2001

Formatting
  lib/core/types.hpp
  lib/navigation/preprocess_encoders.hpp
  lib/utils/manual_time.cpp
Owners: @kshxtij, @maxguy2001

More formatting
  test/utils/manual_time.cpp
Owners: @kshxtij

Use benchmark data builder in benchmark
  lib/navigation/benchmark/benchmark.cpp
  lib/navigation/benchmark/benchmark.hpp
  lib/navigation/benchmark/data.cpp
  lib/navigation/benchmark/data.hpp
  test/navigation/benchmark/benchmark.cpp
Owners: @maxguy2001

Improve formatting check in git hooks
  scripts/hooks/pre-commit
Owners: @kshxtij

Formatting and auto-format script
  lib/navigation/benchmark/benchmark.cpp
  scripts/format
Owners: @maxguy2001, @kshxtij

added channel and const
  lib/sensors/accelerometer.cpp
  lib/sensors/accelerometer.hpp
Owners: @SnickeyX

Clean up logic, rename logger
  lib/io/can.cpp
  lib/io/can.hpp
Owners: @SnickeyX

Use data builder in basic test
  lib/navigation/benchmark/data.cpp
  lib/navigation/benchmark/data.hpp
  test/navigation/benchmark/benchmark.cpp
Owners: @maxguy2001

Make format script executable
  scripts/format
Owners: @kshxtij

Make I2c abstract
  lib/debug/repl.cpp
  lib/debug/repl.hpp
  lib/io/hardware_i2c.cpp
  lib/io/hardware_i2c.hpp
  lib/io/i2c.hpp
Owners: @kshxtij, @SnickeyX

Extend Mux to work with abstract I2c
  lib/sensors/mux.cpp
  lib/sensors/mux.hpp
Owners: @SnickeyX

Fix typo in navigation test build files
  test/navigation/CMakeLists.txt
Owners: @maxguy2001

Add various dummies for testing
  lib/utils/CMakeLists.txt
  lib/utils/dummy_i2c.cpp
  lib/utils/dummy_i2c.hpp
  lib/utils/dummy_i2c_sensor.cpp
  lib/utils/dummy_i2c_sensor.hpp
  lib/utils/dummy_logger.cpp
  lib/utils/dummy_logger.hpp
Owners: @kshxtij

Test mux and dummies
  test/CMakeLists.txt
  test/sensors/CMakeLists.txt
  test/sensors/mux.cpp
  test/utils/dummy_i2c_sensor.cpp
Owners: @kshxtij, @SnickeyX

Formatting
  lib/io/i2c.hpp
Owners: @SnickeyX

Fixed macos build
  lib/io/can.hpp
Owners: @SnickeyX

Fixed macos build take 2
  lib/io/can.hpp
Owners: @SnickeyX

Fixed macOS build take 3
  lib/io/can.hpp
Owners: @SnickeyX

Fixed macOS build take 4
  lib/io/can.cpp
Owners: @SnickeyX

Some changes implemented
  lib/motors/controller.cpp
  lib/motors/controller.hpp
Owners: @kshxtij

Formatting
  lib/io/can.cpp
Owners: @SnickeyX

formatting and error code
  lib/motors/controller.cpp
Owners: @kshxtij

Consts and virtuals
  lib/io/hardware_i2c.hpp
  lib/utils/dummy_i2c.cpp
Owners: @SnickeyX, @kshxtij

One more const
  lib/utils/dummy_i2c.hpp
Owners: @kshxtij

Formatting
  lib/io/hardware_i2c.hpp
Owners: @SnickeyX

formatting updates
  lib/state_machine/message.hpp
  lib/state_machine/state.cpp
  lib/state_machine/state.hpp
  lib/state_machine/state_machine.cpp
  lib/state_machine/state_machine.hpp
  lib/state_machine/transition.hpp
Owners: @kshxtij

more formatting updates
  lib/state_machine/message.hpp
  lib/state_machine/state.hpp
  lib/state_machine/state_machine.cpp
  lib/state_machine/state_machine.hpp
  lib/state_machine/transition.hpp
Owners: @kshxtij

more formatting
  lib/state_machine/message.hpp
  lib/state_machine/state.hpp
  lib/state_machine/state_machine.cpp
  lib/state_machine/state_machine.hpp
  lib/state_machine/transition.hpp
Owners: @kshxtij

Less lookups to add processor
  lib/io/can.cpp
Owners: @SnickeyX

fixing requested changes
  lib/sensors/temperature.cpp
  lib/sensors/temperature.hpp
Owners: @SnickeyX

Refactor processWarningMessage
  lib/motors/controller.cpp
  lib/motors/controller.hpp
Owners: @kshxtij

Namespaces
  lib/io/can.cpp
  lib/io/can.hpp
Owners: @SnickeyX

Better optional handling
  lib/io/can.cpp
  lib/io/can.hpp
Owners: @SnickeyX

unused import
  lib/utils/dummy_i2c.hpp
Owners: @kshxtij

CODEOWNERS:

* @mifrandir
* @kshxtij
lib/sensors @SnickeyX
test/sensors @SnickeyX
lib/io @SnickeyX
test/io @SnickeyX
lib/navigation @maxguy2001
test/navigation @maxguy2001
