Repository Hyp-ed/hyped-2023, changes with the owners that CODEOWNERS names for each.
All owners: @mifrandir, @kshxtij, @SnickeyX, @maxguy2001

CODEOWNERS:

* @mifrandir
* @kshxtij
lib/sensors @SnickeyX
test/sensors @SnickeyX
lib/io @SnickeyX
test/io @SnickeyX
lib/navigation @maxguy2001
test/navigation @maxguy2001

cleaner naming
  lib/io/pwm.cpp
  lib/io/pwm.hpp
Owners: @SnickeyX

removing full-duplex communcation
  lib/io/spi.cpp
  lib/io/spi.hpp
Owners: @SnickeyX

logger_ and spelling
  lib/io/spi.cpp
  lib/io/spi.hpp
Owners: @SnickeyX

better comments, better naming
  lib/io/pwm.cpp
  lib/io/pwm.hpp
Owners: @SnickeyX

missing space
  lib/io/pwm.hpp
Owners: @SnickeyX

fixing writes
  lib/io/pwm.cpp
Owners: @SnickeyX

read/write implementation of GPIO
  lib/io/gpio.hpp
  lib/io/hardware_gpio.cpp
  lib/io/hardware_gpio.hpp
  lib/utils/dummy_gpio.cpp
  lib/utils/dummy_gpio.hpp
  src/pod/main.cpp
  test/utils/dummy_gpio.cpp
Owners: @SnickeyX, @kshxtij

one day I will remember to include std::
  lib/io/hardware_gpio.cpp
Owners: @SnickeyX

missing debug log
  lib/io/hardware_gpio.cpp
Owners: @SnickeyX

better create function
  lib/io/pwm.cpp
  lib/io/pwm.hpp
Owners: @SnickeyX

similar commenting
  lib/io/pwm.cpp
Owners: @SnickeyX

better create function
  lib/io/spi.cpp
  lib/io/spi.hpp
Owners: @SnickeyX

even comments arent safe from std::
  lib/io/spi.hpp
Owners: @SnickeyX

double wammy
  lib/io/spi.hpp
Owners: @SnickeyX

slight refactoring
  lib/io/hardware_gpio.cpp
  lib/io/hardware_gpio.hpp
Owners: @SnickeyX

allowing two implementations of gpio
  lib/io/hardware_gpio.cpp
  lib/io/hardware_gpio.hpp
  lib/io/hardware_gpio_alt.cpp
  lib/io/hardware_gpio_alt.hpp
Owners: @SnickeyX

better comments
  lib/io/hardware_gpio_alt.hpp
Owners: @SnickeyX

Add log every Nth time
  lib/core/logger.hpp
Owners: @kshxtij

Add basic tests
  test/core/logger.cpp
Owners: @kshxtij

static create for prev io
  lib/debug/repl.cpp
  lib/io/adc.cpp
  lib/io/adc.hpp
  lib/io/hardware_i2c.cpp
  lib/io/hardware_i2c.hpp
Owners: @kshxtij, @SnickeyX

adding to REPL
  config/template.json
  lib/debug/repl.cpp
  lib/debug/repl.hpp
  lib/io/pwm.cpp
  lib/io/pwm.hpp
Owners: @kshxtij, @SnickeyX

hardware spi
  lib/io/hardware_spi.cpp
  lib/io/hardware_spi.hpp
  lib/io/spi.hpp
Owners: @SnickeyX

const fd
  lib/io/hardware_spi.hpp
Owners: @SnickeyX

adding to repl + consts
  config/template.json
  lib/debug/repl.cpp
  lib/debug/repl.hpp
  lib/io/hardware_spi.cpp
  lib/io/hardware_spi.hpp
  lib/io/spi.hpp
Owners: @kshxtij, @SnickeyX

forgot to add command
  lib/debug/repl.cpp
Owners: @kshxtij

adding the stop command too
  lib/debug/repl.cpp
Owners: @kshxtij

repl fixes
  lib/debug/repl.cpp
  lib/debug/repl.hpp
Owners: @kshxtij

variable clock in create and simpler getClockValue
  lib/io/hardware_spi.cpp
  lib/io/hardware_spi.hpp
Owners: @SnickeyX

repl fix
  lib/debug/repl.cpp
Owners: @kshxtij

found out about global namespace
  lib/io/gpio.hpp
  lib/io/hardware_gpio.cpp
  lib/io/hardware_gpio.hpp
  lib/io/hardware_gpio_alt.cpp
  lib/io/hardware_gpio_alt.hpp
  lib/utils/dummy_gpio.cpp
  lib/utils/dummy_gpio.hpp
  src/pod/main.cpp
  test/utils/dummy_gpio.cpp
Owners: @SnickeyX, @kshxtij

todolater
  lib/io/pwm.cpp
Owners: @SnickeyX

All neccisary changes made to the removal of device address
  lib/sensors/temperature.cpp
  lib/sensors/temperature.hpp
Owners: @SnickeyX

static create
  lib/io/uart.cpp
  lib/io/uart.hpp
Owners: @SnickeyX

baud mask function
  lib/io/uart.cpp
  lib/io/uart.hpp
Owners: @SnickeyX

fixing baud rate + mac build
  lib/io/uart.cpp
  lib/io/uart.hpp
Owners: @SnickeyX

cleaner swtiches + bits_per_byte
  lib/io/uart.cpp
  lib/io/uart.hpp
Owners: @SnickeyX

will this compile on a mac
  lib/io/uart.cpp
  lib/io/uart.hpp
Owners: @SnickeyX

separate configuration function
  lib/io/uart.cpp
  lib/io/uart.hpp
Owners: @SnickeyX

removing uncessary struct
  lib/io/uart.cpp
Owners: @SnickeyX

messing around with mac build
  lib/io/uart.hpp
Owners: @SnickeyX
