Repository Hyp-ed/hyped-2023, changes with the owners that CODEOWNERS names for each.
All owners: @mifrandir, @kshxtij, @maxguy2001, @TomLonergan03

Redo structure
  lib/core/types.hpp
  lib/io/pwm.cpp
  lib/io/pwm.hpp
Owners: @kshxtij

Change log level to debug
  lib/io/pwm.cpp
Owners: @kshxtij

Initialise with any CAN network interface
  lib/io/can.cpp
  lib/io/can.hpp
Owners: @kshxtij

Consts and proper names
  lib/io/can.cpp
Owners: @kshxtij

Fixed compilation issue
  lib/io/can.cpp
  lib/io/can.hpp
Owners: @kshxtij

Add option to set ManualTime from integer
  lib/utils/manual_time.cpp
  lib/utils/manual_time.hpp
  test/utils/manual_time.cpp
Owners: @kshxtij

Make DummyGpio rests human-readable
  test/utils/dummy_gpio.cpp
Owners: @kshxtij

Change real_gpio.hpp to hardware_gpio.hpp in docs
  lib/io/gpio.hpp
Owners: @kshxtij

Updated CanStruct definition for mac compatibility
  lib/core/types.hpp
  lib/io/can.cpp
  lib/io/can.hpp
Owners: @kshxtij

Updated all can_frame to CanFrame
  lib/io/can.cpp
  lib/io/can.hpp
Owners: @kshxtij

Deleted main cpp/hpp, modified implementation plans and fixed errors
  lib/navigation/consts.hpp
  lib/navigation/main.cpp
  lib/navigation/main.hpp
  lib/navigation/navigator.cpp
  lib/navigation/navigator.hpp
  lib/navigation/preprocessing.cpp
  lib/navigation/preprocessing.hpp
Owners: @maxguy2001

added crosschecker outline
  lib/navigation/crosscheck.cpp
  lib/navigation/crosscheck.hpp
Owners: @maxguy2001

Build and Ctest CI
  .github/workflows/build.yml
Owners: @kshxtij

Rename action
  .github/workflows/build.yml
Owners: @kshxtij

SNS-ADC pin-type fix
  lib/io/adc.cpp
  lib/io/adc.hpp
Owners: @kshxtij

i2c sensors interface
  lib/CMakeLists.txt
  lib/sensors/CMakeLists.txt
  lib/sensors/sensors.hpp
Owners: @kshxtij

added docstrings and finished outline. ready for review
  lib/navigation/consts.hpp
  lib/navigation/crosscheck.cpp
  lib/navigation/crosscheck.hpp
  lib/navigation/navigator.cpp
  lib/navigation/navigator.hpp
  lib/navigation/preprocessing.cpp
  lib/navigation/preprocessing.hpp
  test/navigation/navigation.cpp
Owners: @maxguy2001

Moved CanFrame def
  lib/core/types.hpp
  lib/io/can.hpp
Owners: @kshxtij

Changed linux include
  lib/io/can.cpp
Owners: @kshxtij

Fixed canframe def
  lib/io/can.cpp
  lib/io/can.hpp
Owners: @kshxtij

Fixed uses of CanFrame
  lib/motors/can_processor.cpp
  lib/motors/can_processor.hpp
Owners: @TomLonergan03

optional
  lib/sensors/sensors.hpp
Owners: @kshxtij

Add timezone to test
  test/core/logger.cpp
Owners: @kshxtij

Rename stdout test
  test/utils/dummy_gpio.cpp
Owners: @kshxtij

Ignore tags file
  .gitignore
Owners: @kshxtij

Fix uint32
  lib/io/adc.cpp
  lib/io/adc.hpp
Owners: @kshxtij

removed write
  lib/sensors/sensors.hpp
Owners: @kshxtij

CODEOWNERS:

* @mifrandir
* @kshxtij
lib/navigation @maxguy2001
test/navigation @maxguy2001
lib/motors @TomLonergan03
test/motors @TomLonergan03
