Repository Hyp-ed/hyped-2023, changes with the owners that CODEOWNERS names for each.
All owners: @mifrandir, @kshxtij, @SnickeyX, @maxguy2001

removing extra definitions for mac
  lib/io/uart.hpp
Owners: @SnickeyX

read and send bytes
  lib/io/uart.cpp
  lib/io/uart.hpp
Owners: @SnickeyX

better commenting
  lib/io/uart.hpp
Owners: @SnickeyX

mac build test 1.0
  lib/io/uart.hpp
Owners: @SnickeyX

mac build test 2.0
  lib/io/uart.hpp
Owners: @SnickeyX

more enums!
  lib/io/uart.cpp
  lib/io/uart.hpp
Owners: @SnickeyX

const spam
  lib/io/uart.cpp
  lib/io/uart.hpp
Owners: @SnickeyX

REPL
  config/template.json
  lib/debug/repl.cpp
  lib/debug/repl.hpp
Owners: @kshxtij

spi bug fix + const
  lib/debug/repl.cpp
Owners: @kshxtij

stylistic changes
  lib/debug/repl.cpp
  lib/debug/repl.hpp
Owners: @kshxtij

spelling fix
  lib/io/uart.cpp
Owners: @SnickeyX

check for long data input
  lib/debug/repl.cpp
Owners: @kshxtij

minor changes to conversion class
  lib/navigation/imu_displacement.cpp
  lib/navigation/imu_displacement.hpp
Owners: @maxguy2001

less verbose comment
  lib/io/uart.cpp
Owners: @SnickeyX

Ran formatter
  lib/navigation/preprocess_keyence.cpp
  lib/navigation/preprocess_keyence.hpp
Owners: @maxguy2001

moved template functions
  lib/navigation/preprocess_imu.cpp
  lib/navigation/preprocess_imu.hpp
Owners: @maxguy2001

hoping its fixed
  lib/navigation/preprocess_imu.hpp
Owners: @maxguy2001

fixed filtered data code
  lib/navigation/preprocess_imu.cpp
Owners: @maxguy2001

changed TODOs
  lib/state_machine/consts.hpp
  lib/state_machine/message.hpp
  lib/state_machine/state.hpp
  lib/state_machine/state_machine.cpp
  lib/state_machine/state_machine.hpp
  lib/state_machine/types.hpp
Owners: @kshxtij

CODEOWNERS:

* @mifrandir
* @kshxtij
lib/sensors @SnickeyX
test/sensors @SnickeyX
lib/io @SnickeyX
test/io @SnickeyX
lib/navigation @maxguy2001
test/navigation @maxguy2001
