Repository Hyp-ed/hyped-2023, changes with the owners that CODEOWNERS names for each.
All owners: @mifrandir, @kshxtij, @SnickeyX, @maxguy2001

Tempurature sensor Version 1 (non-tested)
  lib/sensors/temperature.cpp
  lib/sensors/temperature.hpp
Owners: @SnickeyX

Work in progress
  lib/sensors/temperature.cpp
Owners: @SnickeyX

fix: clang-format now applied to doc
  lib/navigation/preprocess_keyence.cpp
Owners: @maxguy2001

finished main structure, only return type is not good
  lib/sensors/accelerometer.cpp
  lib/sensors/accelerometer.hpp
Owners: @SnickeyX

reformated
  lib/sensors/accelerometer.cpp
  lib/sensors/accelerometer.hpp
Owners: @SnickeyX

finished code
  lib/sensors/accelerometer.cpp
  lib/sensors/accelerometer.hpp
Owners: @SnickeyX

auto instead of core::Result
  lib/sensors/mux.cpp
  lib/sensors/mux.hpp
Owners: @SnickeyX

std::chrono
  lib/core/logger.cpp
Owners: @kshxtij

Changed logger name to log_ and applied clang formatting.
  lib/navigation/preprocess_keyence.cpp
Owners: @maxguy2001

Changed logger name to log_ and applied clang formatting.
  lib/navigation/preprocess_keyence.hpp
Owners: @maxguy2001

Formatting changes to investigate ubuntu build failure.
  lib/navigation/preprocess_keyence.cpp
Owners: @maxguy2001

fix: hpp KeyencePreprocessor constructor logger variable named incorrectly
  lib/navigation/preprocess_keyence.hpp
Owners: @maxguy2001

separated into two functions and sorted case of one unreliable sensor
  lib/navigation/preprocess_imu.cpp
  lib/navigation/preprocess_imu.hpp
Owners: @maxguy2001

check reliable func implemented
  lib/navigation/preprocess_imu.cpp
Owners: @maxguy2001

const and n in check reliable
  lib/navigation/preprocess_imu.cpp
Owners: @maxguy2001

this baby is BUILT
  lib/navigation/preprocess_imu.cpp
  lib/navigation/preprocess_imu.hpp
Owners: @maxguy2001

Version 2 for the Tempurature sensor code
  lib/sensors/temperature.cpp
  lib/sensors/temperature.hpp
Owners: @SnickeyX

logger to log
  lib/io/adc.cpp
  lib/io/adc.hpp
Owners: @SnickeyX

Added docstrings and changed includes for keyence cpp and hpp files.
  lib/navigation/preprocess_keyence.cpp
  lib/navigation/preprocess_keyence.hpp
Owners: @maxguy2001

Added docstrings and changed includes for keyence cpp and hpp files.
  lib/navigation/preprocess_keyence.cpp
  lib/navigation/preprocess_keyence.hpp
Owners: @maxguy2001

Added docstrings and changed includes for keyence cpp and hpp files.
  lib/navigation/preprocess_keyence.cpp
Owners: @maxguy2001

added new formula for calculating q1 and q3
  lib/navigation/preprocess_encoders.cpp
  lib/navigation/preprocess_encoders.hpp
Owners: @maxguy2001

Got rid of random multiline comment, I swear if this doesn't pass I will cry.
  lib/navigation/preprocess_keyence.cpp
Owners: @maxguy2001

build fixed
  lib/navigation/preprocess_encoders.cpp
  lib/navigation/preprocess_encoders.hpp
Owners: @maxguy2001

formatting and fixing functions
  lib/navigation/consts.hpp
  lib/navigation/preprocess_imu.cpp
  lib/navigation/preprocess_imu.hpp
Owners: @maxguy2001

adc logger fix
  lib/io/adc.cpp
  lib/io/adc.hpp
Owners: @SnickeyX

fixed core::Types
  lib/sensors/mux.cpp
  lib/sensors/mux.hpp
Owners: @SnickeyX

implemented detectOutliers
  lib/navigation/preprocess_encoders.cpp
Owners: @maxguy2001

new implementation to find median
  lib/navigation/preprocess_imu.cpp
Owners: @maxguy2001

added TODO comment for getting quantiles
  lib/navigation/preprocess_imu.cpp
Owners: @maxguy2001

Fix naming and UB in logger
  lib/core/logger.cpp
  lib/core/logger.hpp
Owners: @kshxtij

Add missing pragma once in navigator.hpp
  lib/navigation/navigator.hpp
Owners: @maxguy2001

Navigation benchmark skeleton
  lib/navigation/benchmark/CMakeLists.txt
  lib/navigation/benchmark/benchmark.cpp
  lib/navigation/benchmark/benchmark.hpp
  lib/navigation/benchmark/benchmarker.hpp
Owners: @maxguy2001

removing hyped::
  lib/io/adc.cpp
  lib/io/adc.hpp
  lib/io/i2c.cpp
  lib/io/i2c.hpp
  lib/sensors/i2c_sensors.hpp
  lib/sensors/mux.cpp
  lib/sensors/mux.hpp
Owners: @SnickeyX

removed hyped:: from gpio too
  lib/io/gpio.hpp
  lib/io/hardware_gpio.cpp
  lib/io/hardware_gpio.hpp
Owners: @SnickeyX

Remove redundant hyped::
  lib/debug/repl.cpp
  lib/debug/repl.hpp
  lib/utils/dummy_gpio.cpp
  lib/utils/dummy_gpio.hpp
Owners: @kshxtij

Add check for redundant hyped:: to linter
  .github/workflows/lint.yml
Owners: @kshxtij

Formatting
  .github/workflows/lint.yml
  lib/debug/repl.cpp
Owners: @kshxtij

asserting defined behaviour for mux
  lib/sensors/mux.cpp
  lib/sensors/mux.hpp
Owners: @SnickeyX

overflow check for channel select
  lib/sensors/mux.cpp
  lib/sensors/mux.hpp
Owners: @SnickeyX

CODEOWNERS:

* @mifrandir
* @kshxtij
lib/sensors @SnickeyX
test/sensors @SnickeyX
lib/io @SnickeyX
test/io @SnickeyX
lib/navigation @maxguy2001
test/navigation @maxguy2001
