Repository Hyp-ed/hyped-2023, changes with the owners that CODEOWNERS names for each.
All owners: @mifrandir, @kshxtij, @SnickeyX, @maxguy2001

Fixed building
  lib/motors/controller.hpp
Owners: @kshxtij

Syntax formatting
  lib/motors/controller.cpp
  lib/motors/controller.hpp
Owners: @kshxtij

Version 3 for tempurature sensor with corrections to variable names
  lib/sensors/temperature.cpp
  lib/sensors/temperature.hpp
Owners: @SnickeyX

fixed and tidied functions
  lib/navigation/preprocess_imu.cpp
  lib/navigation/preprocess_imu.hpp
Owners: @maxguy2001

code is now better formatted
  lib/navigation/consts.hpp
  lib/navigation/preprocess_encoders.cpp
  lib/navigation/preprocess_encoders.hpp
Owners: @maxguy2001

added some basic structure
  lib/state_machine/state_machine.cpp
  lib/state_machine/state_machine.hpp
  lib/state_machine/state_macine.cpp
Owners: @kshxtij

updated structure
  lib/state_machine/state_machine.cpp
  lib/state_machine/state_machine.hpp
Owners: @kshxtij

added todos
  lib/state_machine/state_machine.cpp
  lib/state_machine/state_machine.hpp
Owners: @kshxtij

refactoring
  lib/sensors/mux.cpp
  lib/sensors/mux.hpp
Owners: @SnickeyX

local variable num_unusable_sensors
  lib/sensors/mux.cpp
Owners: @SnickeyX

removing num_unusable_sensors from hpp
  lib/sensors/mux.hpp
Owners: @SnickeyX

removed copying a unique ptr
  lib/sensors/mux.cpp
Owners: @SnickeyX

added error detection wrong device
  lib/sensors/accelerometer.cpp
  lib/sensors/accelerometer.hpp
Owners: @SnickeyX

corrected most of the comments from PR
  lib/sensors/accelerometer.cpp
  lib/sensors/accelerometer.hpp
Owners: @SnickeyX

changing variable names and removing comments
  lib/navigation/preprocess_encoders.cpp
  lib/navigation/preprocess_encoders.hpp
Owners: @maxguy2001

Add once and n times macros
  lib/core/logger.hpp
Owners: @kshxtij

fixed comments from PR, and format
  lib/core/types.hpp
  lib/sensors/accelerometer.cpp
  lib/sensors/accelerometer.hpp
Owners: @kshxtij, @SnickeyX

format
  lib/core/types.hpp
  lib/sensors/accelerometer.cpp
  lib/sensors/accelerometer.hpp
Owners: @kshxtij, @SnickeyX

test for fix
  lib/sensors/accelerometer.cpp
Owners: @SnickeyX

fixed mac fail
  lib/sensors/accelerometer.cpp
Owners: @SnickeyX

fixed format clang
  lib/sensors/accelerometer.cpp
Owners: @SnickeyX

State and Transition Class Added
  lib/state_machine/state.hpp
  lib/state_machine/transition.hpp
Owners: @kshxtij

Removed comment from header and implemented franz's changed. Added TODOLater for logging
  lib/navigation/preprocess_keyence.cpp
  lib/navigation/preprocess_keyence.hpp
Owners: @maxguy2001

added comment todolater
  lib/sensors/accelerometer.cpp
Owners: @SnickeyX

add messages, implement transition function
  lib/state_machine/message.cpp
  lib/state_machine/message.hpp
  lib/state_machine/state.hpp
  lib/state_machine/state_machine.cpp
  lib/state_machine/state_machine.hpp
  lib/state_machine/transition.hpp
Owners: @kshxtij

small update
  lib/state_machine/state_machine.cpp
Owners: @kshxtij

Version 4 with the corrections to the if statments and status checks
  lib/sensors/temperature.cpp
  lib/sensors/temperature.hpp
Owners: @SnickeyX

updated message class
  lib/state_machine/message.cpp
  lib/state_machine/state_machine.cpp
  lib/state_machine/transition.hpp
Owners: @kshxtij

Added Comments and fixed types
  lib/io/hardware_gpio.cpp
  lib/io/hardware_gpio.hpp
Owners: @SnickeyX

implemented optional return
  lib/navigation/preprocess_imu.cpp
  lib/navigation/preprocess_imu.hpp
Owners: @maxguy2001

formatting
  lib/navigation/preprocess_imu.cpp
Owners: @maxguy2001

Fixed compiler error
  lib/io/hardware_gpio.cpp
Owners: @SnickeyX

removed errors with transitions
  lib/state_machine/state_machine.hpp
  lib/state_machine/transition.hpp
Owners: @kshxtij

Removed hyped
  lib/io/hardware_gpio.cpp
Owners: @SnickeyX

Implemented reset method
  lib/state_machine/state_machine.cpp
Owners: @kshxtij

added deconstructor and getChannel
  lib/sensors/temperature.cpp
  lib/sensors/temperature.hpp
Owners: @SnickeyX

Add temperature sensor support
  config/template.json
  lib/debug/CMakeLists.txt
  lib/debug/repl.cpp
  lib/debug/repl.hpp
Owners: @kshxtij

Format
  lib/debug/repl.cpp
Owners: @kshxtij

references
  lib/sensors/mux.cpp
  lib/sensors/mux.hpp
Owners: @SnickeyX

i2c ref
  lib/sensors/mux.hpp
Owners: @SnickeyX

CODEOWNERS:

* @mifrandir
* @kshxtij
lib/sensors @SnickeyX
test/sensors @SnickeyX
lib/io @SnickeyX
test/io @SnickeyX
lib/navigation @maxguy2001
test/navigation @maxguy2001
