Repository Hyp-ed/hyped-2023, changes with the owners that CODEOWNERS names for each.
All owners: @mifrandir, @kshxtij, @SnickeyX, @maxguy2001

requested changes
  lib/sensors/mux.cpp
  lib/sensors/mux.hpp
Owners: @SnickeyX

updated error message on selectChannel
  lib/sensors/mux.cpp
Owners: @SnickeyX

capitalizing start of error msg
  lib/sensors/mux.cpp
Owners: @SnickeyX

updated comments
  lib/sensors/mux.cpp
Owners: @SnickeyX

few changes
  lib/navigation/preprocess_encoders.cpp
  lib/navigation/preprocess_encoders.hpp
Owners: @maxguy2001

added helper function, need help with template stuff
  lib/navigation/preprocess_imu.cpp
  lib/navigation/preprocess_imu.hpp
Owners: @maxguy2001

Benchmark implementation
  lib/core/timer.cpp
  lib/core/timer.hpp
  lib/core/types.hpp
  lib/navigation/benchmark/benchmark.cpp
  lib/navigation/benchmark/benchmark.hpp
  lib/navigation/benchmark/benchmarker.hpp
  lib/navigation/consts.hpp
  lib/navigation/crosscheck.cpp
  lib/navigation/crosscheck.hpp
  lib/navigation/navigator.cpp
  lib/navigation/navigator.hpp
  lib/navigation/preprocess_encoders.cpp
  lib/navigation/preprocess_encoders.hpp
  lib/navigation/preprocess_imu.cpp
  lib/navigation/preprocess_imu.hpp
  lib/navigation/preprocess_keyence.cpp
  lib/navigation/preprocess_keyence.hpp
  lib/navigation/types.hpp
  lib/utils/naive_navigator.cpp
  lib/utils/naive_navigator.hpp
  src/pod/main.cpp
  test/utils/naive_navigator.cpp
Owners: @kshxtij, @maxguy2001

Formatting
  lib/core/timer.cpp
  lib/core/types.hpp
Owners: @kshxtij

function for finding quartiles now works
  lib/navigation/preprocess_encoders.cpp
  lib/navigation/preprocess_encoders.hpp
Owners: @maxguy2001

completed implementing detect_outliers and quartiles function
  lib/navigation/preprocess_encoders.cpp
Owners: @maxguy2001

some minor tweaks and need to add a lot of comments
  lib/navigation/preprocess_encoders.cpp
Owners: @maxguy2001

Add CI check for pragma once
  .github/workflows/lint.yml
Owners: @kshxtij

Add all missing pragmas
  lib/debug/repl.hpp
  lib/io/can.hpp
  lib/navigation/consts.hpp
  lib/navigation/crosscheck.hpp
  lib/navigation/navigator.hpp
  lib/navigation/preprocess_encoders.hpp
  lib/navigation/preprocess_imu.hpp
  lib/navigation/preprocess_keyence.hpp
  lib/utils/manual_time.hpp
Owners: @kshxtij, @SnickeyX, @maxguy2001

Make trajectory errors immutable
  lib/navigation/benchmark/benchmark.hpp
Owners: @maxguy2001

Remove unneeded grep flags
  .github/workflows/lint.yml
Owners: @kshxtij

Basic navigation benchmark test
  lib/core/time.hpp
  lib/core/timer.cpp
  lib/core/timer.hpp
  lib/navigation/benchmark/CMakeLists.txt
  lib/utils/manual_time.cpp
  lib/utils/manual_time.hpp
  lib/utils/naive_navigator.cpp
  lib/utils/naive_navigator.hpp
  test/core/logger.cpp
  test/navigation/benchmark/CMakeLists.txt
  test/navigation/benchmark/benchmark.cpp
  test/utils/CMakeLists.txt
  test/utils/manual_time.cpp
  test/utils/naive_navigator.cpp
Owners: @kshxtij, @maxguy2001

fixed template function so it builds
  lib/navigation/preprocess_imu.cpp
  lib/navigation/preprocess_imu.hpp
Owners: @maxguy2001

More flags
  .github/workflows/lint.yml
Owners: @kshxtij

small fixes
  lib/navigation/preprocess_imu.cpp
Owners: @maxguy2001

commented hpp file
  lib/navigation/preprocess_imu.hpp
Owners: @maxguy2001

formatting
  lib/navigation/preprocess_imu.cpp
  lib/navigation/preprocess_imu.hpp
Owners: @maxguy2001

Fix compilation issues
  lib/io/can.cpp
  lib/io/can.hpp
  lib/motors/can_processor.hpp
Owners: @SnickeyX, @kshxtij

Removed ifndef
  lib/io/can.hpp
Owners: @SnickeyX

fixed adc read
  lib/io/adc.cpp
Owners: @SnickeyX

fixed comment
  lib/io/adc.cpp
Owners: @SnickeyX

refactored the code according to PR comments
  lib/core/types.hpp
  lib/sensors/accelerometer.cpp
  lib/sensors/accelerometer.hpp
Owners: @kshxtij, @SnickeyX

Rewrite listen(), fix compilation
  lib/io/can.cpp
  lib/io/can.hpp
Owners: @SnickeyX

fixed building errors
  lib/core/types.hpp
  lib/sensors/accelerometer.cpp
  lib/sensors/accelerometer.hpp
Owners: @kshxtij, @SnickeyX

failure threshhold for mux
  lib/sensors/mux.cpp
  lib/sensors/mux.hpp
Owners: @SnickeyX

added struct for qquartile
  lib/navigation/preprocess_encoders.cpp
  lib/navigation/preprocess_encoders.hpp
Owners: @maxguy2001

added struct to the consts.hpp
  lib/navigation/consts.hpp
  lib/navigation/preprocess_encoders.cpp
  lib/navigation/preprocess_encoders.hpp
Owners: @maxguy2001

spelling
  lib/sensors/mux.cpp
  lib/sensors/mux.hpp
Owners: @SnickeyX

Files added
  lib/state_machine/state.cpp
  lib/state_machine/state.hpp
  lib/state_machine/state_machine.hpp
  lib/state_machine/state_macine.cpp
  lib/state_machine/transition.cpp
  lib/state_machine/transition.hpp
Owners: @kshxtij

it builds now
  lib/navigation/preprocess_encoders.hpp
Owners: @maxguy2001

fixed build issues
  lib/core/types.hpp
  lib/sensors/accelerometer.cpp
  lib/sensors/accelerometer.hpp
Owners: @kshxtij, @SnickeyX

removed redundant hyped
  lib/sensors/accelerometer.cpp
  lib/sensors/accelerometer.hpp
Owners: @SnickeyX

formatted
  lib/sensors/accelerometer.cpp
  lib/sensors/accelerometer.hpp
Owners: @SnickeyX

formatted
  lib/core/types.hpp
Owners: @kshxtij

Applied Franz's changes, using enum class instead of boolean flags and fixed formatting
  lib/navigation/preprocess_keyence.cpp
  lib/navigation/preprocess_keyence.hpp
Owners: @maxguy2001

Fixed error handling
  lib/motors/controller.cpp
  lib/motors/controller.hpp
Owners: @kshxtij

CODEOWNERS:

* @mifrandir
* @kshxtij
lib/sensors @SnickeyX
test/sensors @SnickeyX
lib/io @SnickeyX
test/io @SnickeyX
lib/navigation @maxguy2001
test/navigation @maxguy2001
